tags
*.sw[op]

# Local output and untracked artifacts
output/*.svg
TO_DO
TO_DO-GEMINI
cmsg
spec/fields
spec/notes
spec/spec1
.*env
ts
*.lock
/test/
family_tree*
COMMIT_MSG_DRAFT
GEMINI_*
/*.md
/bugs/
/debug/
*.rb.*
bin/cnvrtsvg
bin/fgr
